<h1>Welcome to Tic Tac Toe</h1>

<div class="gameModeButton">
<form action='/game' method='POST'>
  <p>Choose a game type:</p>
  <input type="submit" name="game_mode" value="Human vs Human">
  <input type="submit" name="game_mode" value="Human vs Computer">
</form>
</div>
