<h1>Welcome to Tic Tac Toe</h1>

<div id="grid">
  <% @grid.each_with_index do |cell, index| %>
      <form action='/game/play' method='POST'>
        <div class="button"><input type="submit" name="cell" value= "<%= cell %>"></div>
      </form>
  <% end %>
</div>


