<!DOCTYPE html>
<html>
  <head>
    <title> Tic Tac Toe </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body>
    <%= yield %>

    <div id="grid">
      <% @grid.each_with_index do |cell, index| %>
        <form action='/game/play' method='POST'>
          <button class='cell' name="cell" type="submit" value="<%= index %>"><%= cell %></button>
        </form>
      <% end %>
    </div>
  </body>
</html>
